.logo-img {
  width: 100px;
  border-radius: 50%;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  object-fit: cover;
}

@media (max-width: 768px) {
  .logo-img {
    width: 70px;
    top: 14px;
    right: 14px;
  }
}
