@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&display=swap');
.container{
    border-bottom:2px solid antiquewhite;
    font-family: 'Syne', sans-serif;
}
h1 {
    font-family: 'Syne', sans-serif;

}
a {
       text-decoration: none !important;
       color:antiquewhite !important;
}
li{
    display: inline;
    margin: 10px;
    color:antiquewhite !important;
    font-family: 'Syne', sans-serif;
}
