@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&display=swap');
.text-box{
    color: rgb(229, 231, 235) !important;
    text-align: left;
    font-family: 'Syne', sans-serif;

}
.text-half-screen{
    width: 70%;
}
strong{
    font-size: 64px !important;
}
p{
    font-size: 28px !important;
    font-family: 'Syne', sans-serif; 
}